@import 'utility';

body {
  background-color: #333e40;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: repeat(3, auto);
  grid-gap: 10px;
  // grid-template-areas:
  //   'header' 'header' 'header'
  //   'sidebar-left' 'article' 'sidebar-right'
  //   'footer' 'footer' 'footer';
}

// @media only screen and (min-width: 500px) {
//   .grid {
//     grid-template-columns: 20% auto;
//     grid-template-areas:
//       'header' 'header'
//       'sidebar-left' 'article'
//       'sidebar-right' 'sidebar-right'
//       'footer' 'footer';
//   }
// }
//
// @media only screen and (min-width: 600px) {
//   .grid {
//     grid-template-columns: 1740px auto 1740px;
//     grid-template-areas:
//       'header' 'header' 'header'
//       'sidebar-left' 'article' 'sidebar-right'
//       'footer' 'footer' 'footer';
//     max-width: 600px;
//   }
// }

header {
  grid-row: 1;
  grid-column: 1/4;
  border: 5px solid white;
  background-color: #97babf;
  // grid-area: header;

  h1 {
    text-align: center;
    font-size: 90px;
    color: black;
    font-weight: bolder;
  }

  .proPic {
    display: flex;
    justify-content: center;
    padding: 20px;
  }

  p {
    font-size: 40px;
    font-weight: bolder;
    padding: 10px;
  }
}

@media (max-width: 530px) {
  header .head1 h1 {
    font-size: 40px;
  }
}

.sidebar-left {
  grid-row: 2;
  grid-column: 1/2;
  border: 1px solid white;
  background-color: #647c7f;
  color: white;
  // grid-area: sidebar-left;

  p {
    padding: 15px;
    font-size: 25px;
  }
}

article {
  grid-row: 2;
  grid-column: 2/3;
  border: 5px solid white;
  color: white;
  // grid-area: article;

  p {
    font-size: 50px;
    padding: 20px;
  }

  .tweet {
    display: flex;
    justify-content: center;
    padding: 20px;
  }
}

.sidebar-right {
  grid-row: 2;
  grid-column: 3/4;
  border: 1px solid white;
  background-color: #647c7f;
  color: white;
  // grid-area: sidebar-right;

  p {
    padding: 15px;
    font-size: 25px;
  }

  .rR2 {
    text-align: center;
  }
}

footer {
  grid-row: 3;
  grid-column: 1/4;
  border: 5px solid white;
  background-color: #b5dfe5;
  // grid-area: footer;

  p {
    font-size: 30px;
    font-weight: bolder;
  }
}

.skills1 {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  padding: 15px;
}

// #97babf
// #647c7f
// #647c7f
// #333e40
// #b5dFe5
