@import 'utility';

h2 {
  color: black;
}

ul li {
  color: black;
}

.entities {
  font-size: 200px;
  text-align: center;
}

@media (max-width: 650px) {
  .entities {
    font-size: 80px;
  }
}

.rR2 {
  font-size: 50px;
  padding-bottom: 30px;
}
